@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;600&family=Roboto:ital,wght@0,400;0,700;0,900;1,400;1,700&display=swap');
/* * {
    outline: 1px red solid;
} */
:root {
    --main-font-color: rgb(14, 26, 32);
    --second-font-color: rgb(197, 212, 219);
    --main-bg-color: rgb(219, 230, 242);
    --second-bg-color:rgb(0, 0, 0);
    --second-bg-color-op: rgba(0, 0, 0, 0.5);
}
body {
    font-family: 'Roboto', sans-serif;
    color: var(--main-font-color);
    max-width: 1200px;
    margin: auto;
    background-color: rgb(221, 221, 221);
}
header {
    background-color: var(--main-bg-color);
}
.nav,
.navbar {
    background-color: #fff;
    vertical-align: top;
}
.navbar-brand > img {
    width: 100%;
    max-width: 50px;
}
.minicarrito {
    min-width: 200px;
}
.hero {

    margin: auto;
    padding-top: 72px;
}
main {
    background-color: #fff;
    color: var(--second-font-color);
}
.home {
    background-color: #fff;
    padding: 1rem;
    margin-top: 1rem;
    color: var(--main-font-color);
}
.nosotros {
    background-color: var(--second-bg-color);
    padding-top: 72px;
}
.tienda {
    background-color: #fff;
    padding-top: 72px;
    margin: 0 auto;
    color: var(--main-font-color);
}
.productos {
    padding-top: 8px;
    background-color: var(--main-bg-color);
}
.tarjetas-producto {
    min-height: 500px;
}
.titulocard {
    font-weight: bold;
}
.titulocard:hover {
    text-shadow: 3px 3px 5px rgba(152, 152, 152, 0.424);
}
.dojos {
    background-color: var(--second-bg-color);
    padding-top: 72px;
}
.titulo-dojos {
    font-size: 24px;
    font-weight: bold;
    color: var(--main-font-color);
}
.dojos-textos {
    text-align: center;
}
.login {
    background-color: #fff;
    padding-top: 72px;
    color: var(--main-font-color);
}
.social,
.datos {
    list-style: none;
}
.social img {
    max-width: 60px;
}
.imagen-perfil {
    max-width: 250px;
}
.footer {
    padding-bottom: 72px;
    background-color: #000;
    color: var(--second-font-color);
}
.footer-perfil {
    padding: 1rem;
}

.btn-komei {
    background-color: var(--main-bg-color);
    color: var(--main-font-color);
}
.btn-komei:hover {
    background-color: rgb(151, 169, 178);
    color: #fff;
}
.contenedor {
    border: thin solid grey;
    display: grid;

    padding: 10px;
    gap: 10px;

    /* grid-template-columns: [inicio] 1fr [fin-col-1 inicio-col-2] 1fr [fin-col-2] 1fr [final];
    grid-template-rows: repeat(3, 1fr); */



    grid-template-areas:    "imagen nada  cerrar"
                            " texto texto precio";
}

/*MIS ITEMS GRID, ESTOS SON LOS HIJOS DIRECTOS DEL CONTENEDOR*/


.productoCarritoImagen {
    grid-area: imagen;

}
.productoCarritoImagen img {
    max-width: 100px;
}

.productoCarritoTexto {
    grid-area: texto;

}

.productoCarritoCerrar {
    grid-area: cerrar;
}

.productoCarritoPrecio {
    grid-area: precio;
}

@media (min-width: 576px) {
    .contenedor {
        grid-template-areas:    "imagen texto   texto   texto   cerrar"
                                "imagen texto   texto   texto   precio";
    }
 }

@media (min-width: 768px) {

 }

@media (min-width: 992px) { 
    .contenedorProductosCarrito {
        min-width: 500px;
    }
    .footer {
        padding-bottom: 0;
    }
}

@media (min-width: 1200px) { 

}
@media (min-width: 1400px) { 

}